.custom-form {
    margin-top: 25%;
    padding: 25px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 3px #ddd;
    text-align: center;
}

.form-submit-btn {
    position: relative;
    margin-top: 15px;
}