<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to certification-db</title>
    </head>
    <body>
        
        <div id="app">
            <div class="container" >
                <div class="row">
                    <div id="loading-wheel" class="searchable-table col-xs-12">
                        <div id="floatingCirclesG">
                            <div class="f_circleG" id="frotateG_01"></div>
                            <div class="f_circleG" id="frotateG_02"></div>
                            <div class="f_circleG" id="frotateG_03"></div>
                            <div class="f_circleG" id="frotateG_04"></div>
                            <div class="f_circleG" id="frotateG_05"></div>
                            <div class="f_circleG" id="frotateG_06"></div>
                            <div class="f_circleG" id="frotateG_07"></div>
                        <div class="f_circleG" id="frotateG_08"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- scripts and styles -->
        {% style "/webtools/assets/bootstrap/css/bootstrap.min.css" %}
        {% style "/webtools/assets/font-awesome/css/font-awesome.min.css" %}
        {% style "/webtools/css/screen.css" %}
        
        <script type="text/javascript">
         var context = "{{servlet-context}}";
         var csrfToken = "{{csrf-token}}";
        </script>
        {% script "/webtools/js/app.js" %}
        {% script "/webtools/assets/tether/dist/js/tether.min.js" %}
        {% script "/webtools/assets/bootstrap/js/bootstrap.min.js" %}
    </body>
</html>




