button.nav-link {
    cursor: pointer;
    border: none;
    background: inherit;
    color: inherit;
}

button.jva-file-link {
    padding: 4px 6px;
}
 
button.jva-reannounce {
    margin-right: auto;
}
