.record-table {
    margin-top: 15px;
    width: 100%;
    box-shadow: $drop-shadow;
    border: $table-border;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    line-height: 1.25em;    
}

.record-table__row {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #ddd;

    th {
        font-weight: $bold;
        text-align: center;
    }

    &:nth-of-type(even) {
        background-color: lighten($light-gold, 35);
    }

    th, td {
        padding: 10px 5px;
    }

    td:not(:first-child) {
        border-left: 1px solid #ddd;
    }
}

.record-table__thead {

}

.record-table__th, .record-table__td {
 
}

.record-table__th--center, .record-table__td--center {
    text-align: center;
}


tr.row.user-list-row {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

table.jva-list {
    max-height: 800px;
    overflow-y: scroll;
}

tr.row.jva-list-row {
    white-space: pre-wrap;
    font-size: 14px;
    border-bottom: 1px solid #ddd;

    &.closed {
        background-color: lightgrey !important;
    }
    
    strong {
        font-weight: 600;
    }

    em {
        color: red;
        font-weight: 600;
    }

    
    td {
        max-height: 150px;
        min-height: 75px;

        button {
            margin: 5px;
        }
    }

}

div.procurement-table-box {
    box-shadow: $drop-shadow;
    display: table;
    margin-top: 20px;
    margin-top: 20px;
    max-height: 800px;
    overflow-y: scroll;
    padding: 0px;
    padding-top: 10px;
    
    h2.procurement-title {
        font-family: $title-font-family;
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        line-height: $title-font-line-height;
    }

    table {
        box-shadow: none;
        margin: 0px;
    }
}


@include custom-columns(20, td);
@include custom-columns(20, th);

#existing-addenda {
    width: 250px;
    margin: 0 0;
    td, th {
        width: 50px;
        text-align: center;
    }
}

#existing-addenda, #pns-subscriber-table {
    caption {
        margin-left: 15px;
        caption-side: top;
    }

    &,td,th,tr {
        box-shadow: none;
        border: none;
    }
}

#pns-subscriber-table {
    text-align: left;
}

#cert-error-list {
    border: 2px solid darkred;
    caption {
        caption-side: top;
        color: darkred;
        font-weight: $bold;
    }
}
